footer {
    width: 100%;
    .footer_top_background {
   
    }
    .footer_content {
        margin: 0 !important;
        width: 100%;
        background-color: #aa027e;
    }
    img {
        width: 100%;
    }
}