
.top-background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    img {
        width: 90%;
    }
}
header {
    // background-image: url("/img/yellow_top_wave_01.png");
    // background-position: left;
    background-color: rgba(248, 246, 246, 0);
    #tabularNavbar{

        .nav-link {
            padding-left:40px !important;
        }
       
    }
    
    .phone-contact{
        width: 200px;
        height: 40px;
        border-radius: 10rem;
        border: 1px solid $btn-color;
        color: white;
        .badge {
            width: 100%;
            height: 100%;
            font-weight: 1;
            font-size: 15px;
            padding: 10px 0;
        }
        background-color: $btn-color;
    }
    .social {
        padding-left: 10px;
        i {
            padding: 5px;
        }
    }
    .phone-contact:hover {
        background-color: white;
        transition: none 3s;
        color: $btn-color;
    }
    

}

