.teacher {
   
    position: relative;

    .top-background {
        position:static;
    }
    .bottom-background {
        position: absolute;
        bottom: 0;
        left: 0;
        // width: 100%;
      
    }
    .teacher__content {
        background-color: $btn-color;
        padding: 200px 0 ;
        // height:500px    ;
        .card-user-name{
            font-weight: 800;
            font-size: 16px;
            color: #b61a84;
        }
    }
    .footer_top_background{
        // position: relative;
        height: 50px;
        img {
            width: 100%;
            position: absolute;
            bottom: 622px;
        }
       

    }
}